.div{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 200px;
  background: purple;
}

.num{
  text-align: center;
width: 55px;
height: 55px;
display: block;
  font-size: 23px;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.num:hover{
  background-color: aliceblue;
}