<div class="container-card">
    <div class="card-img-top">
        <img src="{{sprites.front_default}}" alt="">
    </div>
    <div class="card-body">
        <h2 class="title">{{species}}</h2>
        <p class="weight">{{weight}}</p>
        <p class="height">{{height}}</p>
    </div>
</div>